:root {
    --color-bg: #0F152E;
    --color-accent: #A970FF;
    --color-nav: #0D142B;
    --color-text: #FFF;
    --color-icons: #999;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-white);
}

.navbar {
    background-color: var(--color-nav);
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
}

.navbar-brand .offset {
    margin-left: 40px;
    color: var(--color-accent);
}

.navbar-brand:hover {
    opacity: 1;
}

.nav-link {
    color: var(--color-text);
}

.nav-link:hover, .nav-link:focus {
    color: var(--color-accent);
}

.primario {
    background: linear-gradient(to right, rgba(169, 112, 255, 1), rgba(56, 30, 94, 1));
    border-radius: 0.7vh;
    color: var(--color-text);
    transition: ease-out 0.5s;
}

.primario:hover, .primario:focus {
    background: linear-gradient(to right, rgba(169, 112, 255, 0.8), rgba(56, 30, 94, 0.8));
    color: var(--color-text);
}

.navbar-toggler {
    border: var(--bs-border-width) solid var(--color-accent) !important;
}

section {
    margin-top: 10vh;
}

h2 {
    color: var(--color-accent);
    margin-bottom: 2rem;
}

.contenido {
    max-width: 60rem;
}

.resaltado {
    color: var(--color-accent);
}

p {
    color: var(--color-text);
}

#mi_foto {
    border-radius: 0.5rem;
}

#recuadro {
    border-width: 0.5rem !important;
    border-radius: 0.5rem;
    border-color: var(--color-accent) !important;
    right: -30px;
    top: 10px;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    z-index: -1;
}

#texto {
    margin-left: 5rem;
}

hr {
    margin-top: 3.5rem;
    color: var(--color-text);
}

svg {
    margin: 0 1rem 0 1rem;
}

.proyecto_img {
    margin: 2rem 1rem 0 1rem;
    border-radius: 1rem;
}

.card {
    border-color: var(--color-accent) !important;
    background-color: var(--color-bg);
    margin: 2rem 1rem 0 1rem;
}

.modal-content {
    background-color: var(--color-nav) !important;
}

.volver {
    color: white;
    text-decoration: none;
}

.volver:hover {
    color: var(--color-accent);
}

.volver:active {
    color: var(--color-accent);
    opacity: 0.7;
}

h1 {
    color: var(--color-accent);
}

.carousel-control-next, .carousel-control-prev {
    filter: invert(100%);
}

li::marker {
    color: var(--color-accent);
}

ul {
    color: var(--color-text);
}

.anchor {
    color: var(--color-accent);
}

.anchor:hover {
    opacity: 0.7;
}

.anchor:active {
    opacity: 0.5;
}

#contactame div form {
    width: 35em;
}

.form-control {
    margin: 0.5rem 0;
    color: var(--color-text) !important;
    background-color: var(--color-nav);
    border-color: var(--color-accent);
    transition: ease-in 0.2s;
}

.form-control::placeholder {
    color: var(--color-icons);
}

.form-control:focus {
    background-color: var(--color-nav);
    border-color: var(--color-accent);
    box-shadow: 0px 0px 8px 0px rgba(169,112,255,0.8);
}
